@import 'variables';

$login-window-bg-color: rgba(30, 30, 30, 0.8);
$navbar-bg-color: #161b22;

.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .loading {
        background: $overlay-transparent-bg-color;
        width: 100%;
        height: 100%;
        position: relative;

        > .loaderCircle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

// Navbar
.navbar {
    background: $navbar-bg-color;
    width: 100%;
    height: $navbar-height;
    position: absolute;
    top: 0;

    > .hamburgerMenu {
        height: $navbar-height;
        padding: 5px;
        box-sizing: border-box;
        vertical-align: top;
        display: none;

        > img {
            height: 100%;
        }
    }

    > .homePage {
        line-height: $navbar-height;
        font-size: 1.5em;
        vertical-align: top;
        float: left;

        > li {
            padding: 0 10px;
        }
    }

    ul {
        padding-inline-start: 0;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
    }

    // Select list
    .list {
        height: $navbar-height;
        line-height: $navbar-height;
        overflow: hidden;
        position: relative;
        float: left;
        @include transition(height 0.15s ease-in);

        // List title
        > li {
            background: $navbar-bg-color;
            padding: 0 10px;
            display: block;
            position: relative;
        }

        // List title with arrow
        &.arrow > li::before {
            background: url('./assets/down_triangle_icon.svg') 0 0 / 1em;
            width: 1em;
            height: 1em;
            display: inline-block;
            vertical-align: middle;
            content: '';
        }

        // List items
        > ul {
            background: $navbar-bg-color;
            min-width: 100%;
            display: block;
            position: absolute;
            bottom: 0;

            > li {
                padding: 0 10px;
            }
        }
    }

    > .links > li {
        line-height: $navbar-height;
        cursor: pointer;
        padding: 0 10px;
        float: left;
        margin: 0;
    }

    li:hover, li.opened {
        background: $button-hover-color;
    }

    > .links > li:active,
    > .list > ul > li:active,
    > .loginBtn:active {
        background: $button-active-color;
    }

    // Login button
    > .loginBtn {
        float: right;

        > li {
            height: $navbar-height;
            box-sizing: border-box;

            > img {
                height: 80%;
                vertical-align: middle;
            }

            > span {
                vertical-align: top;
                padding-left: 5px;
                display: inline-block;
            }
        }
    }

    // Mobile css
    @media only screen and ($small-screen) {
        > .hamburgerMenu {
            display: inline-block;
        }

        > .homePage {
            display: inline-block;
            float: none;
        }

        > .links {
            background: $navbar-bg-color;
            max-width: 15em;
            height: 100vh;
            display: block;
            @include transform(translateX(-100%));
            @include transition(transform 0.15s);
        }

        > .links.open {
            @include transform(translateX(0));
        }

        > .links > ul,
        > .links > li {
            float: none;
        }
    }
}

// Login Window
.loginWindow {
    background: $login-window-bg-color;
    position: absolute;
    top: $navbar-height;
    right: 0;

    > .loginField {
        display: block;
        margin: 5px;
    }

    > button.loginField {
        float: right;
    }

    @media only screen and ($small-screen) {
        width: 100%;
    }
}


// Footer
footer {
    width: 100%;
    position: sticky;
    left: 0;
    margin-top: 10px;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;

    > span {
        display: block;
        line-height: 2em;
    }

    > .borderLine {
        width: 100%;
        margin-bottom: 10px;
        border-top: gray 1px solid;
    }

    > .openRepo {
        height: 2em;
        display: inline-block;
        padding: 5px;
        margin: auto;

        > .githubIcon {
            height: 2em;
            float: left;
        }

        > span {
            line-height: 2em;
            float: left;
            padding-left: 5px;
        }
    }
}

// Router
.router {
    width: 100%;
    top: $navbar-height;
    bottom: 0;
    position: absolute;
    overflow: auto;
    margin: auto;
}

.router > div {
    width: 100%;
    min-height: 100%;
}

.expandable {
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    overflow: hidden;
}