@import 'variables';

$login-window-bg-color: rgba(30, 30, 30, 0.8);
$navbar-bg-color: #161b22;

.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .loading {
        background: $overlay-transparent-bg-color;
        width: 100%;
        height: 100%;
        position: relative;

        > .loaderCircle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

// Navbar
.navbar {
    background: $navbar-bg-color;
    width: 100%;
    height: $navbar-height;
    position: absolute;
    z-index: 100;

    > .hamburgerMenu {
        height: $navbar-height;
        vertical-align: top;
        display: none;

        > li > img {
            height: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
    }

    > .homePage {
        font-size: 1.5em;
        vertical-align: top;
        float: left;
    }

    ul {
        padding-inline-start: 0;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
    }

    // Select list
    .list {
        height: $navbar-height;
        line-height: $navbar-height;
        overflow: hidden;
        position: relative;
        float: left;
        @include transition(height 0.15s ease-in);

        // List title
        > li.title {
            background: $navbar-bg-color;
            padding: 0 10px;
            display: block;
            position: relative;

            &:hover {
                background: $button-hover-color;
            }
        }

        // List title with arrow
        &.arrow > li.titl::before {
            background: url('./assets/down_triangle_icon.svg') 0 0 / 1em;
            width: 1em;
            height: 1em;
            display: inline-block;
            vertical-align: middle;
            content: '';
        }

        // List items
        > li.items {
            position: absolute;
            bottom: 0;
            min-width: 100%;

            > ul {
                background: $navbar-bg-color;
                display: block;

                > li {
                    padding: 0 10px;
                }
            }
        }
    }

    > .links > li, > .homePage > li {
        line-height: $navbar-height;
        cursor: pointer;
        float: left;
        margin: 0;

        > a {
            height: 100%;
            padding: 0 10px;
            display: block;
        }
    }

    li:hover, li.opened {
        background: $button-hover-color;
    }

    > .links > li:active,
    > .list > ul > li:active,
    > .loginBtn:active {
        background: $button-active-color;
    }

    // Login button
    > .loginBtn {
        float: right;
    }

    // Mobile css
    @media only screen and ($small-screen) {
        > .hamburgerMenu {
            display: inline-block;
        }

        > .homePage {
            display: inline-block;
            float: none;
        }

        > .links {
            background: $navbar-bg-color;
            max-width: 15em;
            height: 100vh;
            display: block;
            @include transform(translateX(-100%));
            @include transition(transform 0.15s);
        }

        > .links.open {
            @include transform(translateX(0));
        }

        > .links > ul,
        > .links > li {
            float: none;
        }
    }
}

// Login Window
.loginWindow {
    background: $login-window-bg-color;
    position: absolute;
    top: $navbar-height;
    right: 0;

    > .loginField {
        display: block;
        margin: 5px;
    }

    > button.loginField {
        float: right;
    }

    @media only screen and ($small-screen) {
        width: 100%;
    }
}


// Footer
footer {
    width: 100%;
    position: sticky;
    left: 0;
    margin-top: 10px;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;

    > .borderLine {
        width: 100%;
        margin-bottom: 10px;
        border-top: gray 1px solid;
    }

    > .splitLine {
        width: 50%;
        margin: 15px auto 10px auto;
        border-top: gray 1px solid;
    }

    > h3 {
        display: block;
        margin: 0;
        line-height: 2em;
        font-weight: normal;
        font-size: 1em;
    }

    // Project repo link
    > .openRepo {
        display: inline-block;
        padding: 5px;
        margin: auto;

        > .githubIcon {
            height: 2em;
            float: left;
        }

        > span {
            line-height: 2em;
            float: left;
            padding-left: 5px;
        }
    }

    // 資料來源
    > .source {
        > h2 {
            margin: 7px 0;
        }

        > a {
            display: block;

            > img {
                height: 2em;
            }
        }
    }
}

// Router
.router {
    width: 100%;
    top: $navbar-height;
    bottom: 0;
    position: absolute;
    overflow: auto;
    margin: auto;
}

.router > div {
    width: 100%;
    min-height: 100%;
}

.expandable {
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    overflow: hidden;
}

// Checkbox with name
.checkboxWithName {
    display: block;
    line-height: 1.4em;

    > input {
        width: 0;
        height: 0;
        margin: 0;
        position: absolute;
        display: none;
    }

    > input:checked {
        display: block;
    }

    > input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    > input:checked ~ .checkmark::after {
        display: inline-block;
    }

    > .checkmark {
        background-color: $button-bg-color;
        height: 1.4em;
        width: 1.4em;
        margin-right: 5px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: text-bottom;
        position: relative;
        pointer-events: none;
    }

    &:hover >.checkmark {
        background-color: $button-hover-color;
    }

    > .checkmark::after {
        content: '';
        width: 0.3em;
        height: 0.75em;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0.1em;
        margin: auto;
        position: absolute;
        border: solid white;
        border-width: 0 0.2em 0.2em 0;
        display: none;
        @include transform(rotate(45deg));
    }
}