:root {
    --navbar-bg-color: #2F3136;
    --table-border: #383D3F;
    --nav-bar-height: 40px;
}

.root {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*Navbar*/
.navbar > .hamburgerMenu {
    height: var(--nav-bar-height);
    padding: 5px;
    box-sizing: border-box;
    display: none;
}

.navbar > .hamburgerMenu > img {
    height: 100%;
}

.navbar {
    background: var(--navbar-bg-color);
    width: 100%;
    height: var(--nav-bar-height);
    position: absolute;
    top: 0;
}

.navbar ul {
    padding-inline-start: 0;
    list-style-type: none;
    /*vertical-align: top;*/
}

.navbar > ul {
    margin: 0;
}

.navbar > ul > li {
    float: left;
}

.navbar > .links > li {
    line-height: var(--nav-bar-height);
    cursor: pointer;
    padding: 0 10px;
}

.navbar > .links > .list {
    background: none;
    height: var(--nav-bar-height);
    padding: 0;
    overflow: hidden;
}

.navbar > .links > .list:hover {
    background: none;
    height: auto;
}

.navbar > .links > .list > span:before {
    background: url('./assets/down_triangle_icon.svg') 0 0 / 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.navbar > .links > .list > span {
    background: var(--navbar-bg-color);
    padding: 0 10px;
    z-index: 1;
    display: block;
    position: relative;
}

.navbar > .links > .list > ul {
    background: var(--navbar-bg-color);
    min-width: 100%;
    display: block;
    transition: transform 0.2s ease-out, visibility 0.2s;
    visibility: hidden;
    transform: translateY(-100%);
}

.navbar > .links > .list:hover > ul {
    visibility: visible;
    transform: translateY(0);
}

.navbar > .links > .list > ul > li {
    padding: 0 10px;
}

.navbar > .links > li:hover,
.navbar > .links > .list > span:hover,
.navbar > .links > .list > ul > li:hover,
.navbar > .loginBtn > button:hover {
    background-color: var(--button-hover-color);
}

.navbar > .links > li:active, .navbar > .links > .list > ul > li:active, .navbar > .loginBtn > button:active {
    background-color: var(--button-active-color);
}

/*Login button*/
.navbar > .loginBtn {
    height: var(--nav-bar-height);
    float: right;
}

.navbar > .loginBtn > button {
    background: var(--navbar-bg-color);
    height: 100%;
}

.navbar > .loginBtn > button:focus {
    box-shadow: none;
}

@media only screen and (min-width: 700px) {
}

@media only screen and (max-width: 700px) {
    .navbar > .hamburgerMenu {
        display: inline-block;
    }

    .navbar > .links {
        background: var(--navbar-bg-color);
        max-width: 15em;
        height: 100vh;
        display: block;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition: transform 0.15s;
        -webkit-transition: transform 0.15s;
        -moz-transition: transform 0.15s;
        -ms-transition: transform 0.15s;
        -o-transition: transform 0.15s;
    }

    .navbar > .links.open {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    .navbar > .links > li {
        float: none;
    }
}

/*Login Window*/
.loginWindow .loginField {
    margin: 5px;
}

.loginWindow button.loginField {
    float: right;
}

.loginWindow {
    position: absolute;
    top: var(--nav-bar-height);
    right: 0;
}

/*Router*/
.router {
    position: absolute;
    top: var(--nav-bar-height);
    bottom: 0;
    left: 0;
    width: 100%;
}

.router > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.expandable {
    height: 0;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    overflow: hidden;
}

.red {
    color: #dd3333;
}