:root {
    --navbar-bg-color: #2F3136;
    --table-border: #383D3F;
    --nav-bar-height: 40px;
    --footer-height: 200px;
}

.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*Navbar*/
.navbar > .hamburgerMenu {
    height: var(--nav-bar-height);
    padding: 5px;
    box-sizing: border-box;
    display: none;
}

.navbar > .hamburgerMenu > img {
    height: 100%;
}

.navbar {
    background: var(--navbar-bg-color);
    width: 100%;
    height: var(--nav-bar-height);
    position: absolute;
    top: 0;
}

.navbar ul {
    padding-inline-start: 0;
    list-style-type: none;
    /*vertical-align: top;*/
}

.navbar > ul {
    margin: 0;
}

.navbar > .links > li {
    line-height: var(--nav-bar-height);
    cursor: pointer;
    padding: 0 10px;
    float: left;
}

.navbar .list {
    height: var(--nav-bar-height);
    line-height: var(--nav-bar-height);
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    transition: height 0.15s ease-in;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
}

.navbar .list > *:first-child {
    background: var(--navbar-bg-color);
    padding: 0 10px;
    z-index: 1;
    display: block;
    position: relative;
}

.navbar .list > span:before {
    background: url('./assets/down_triangle_icon.svg') 0 0 / 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.navbar .list > ul {
    background: var(--navbar-bg-color);
    min-width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

.navbar .list > ul > li {
    padding: 0 10px;
}

.navbar > .links > li:hover,
.navbar .list > span:hover,
.navbar .list > ul > li:hover {
    background-color: var(--button-hover-color);
}

.navbar > .links > li:active, .navbar .list > ul > li:active, .navbar > .loginBtn:active {
    background-color: var(--button-active-color);
}

.navbar .list:hover {
    background: none;
}

/*Login button*/
.navbar > .loginBtn {
    background: var(--navbar-bg-color);
    float: right;
}

.navbar > .loginBtn > .btn {
    height: var(--nav-bar-height);
    padding: 5px 0;
    box-sizing: border-box;
}

.navbar > .loginBtn > .btn > img {
    height: 100%;
}

.navbar > .loginBtn > .btn > div {
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    height: 100%;
    margin: 0 5px;
}

.navbar > .loginBtn > .btn > div > span {
    vertical-align: sub;
}

@media only screen and (min-width: 700px) {
}

@media only screen and (max-width: 700px) {
    .navbar > .hamburgerMenu {
        display: inline-block;
    }

    .navbar > .links {
        background: var(--navbar-bg-color);
        max-width: 15em;
        height: 100vh;
        display: block;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition: transform 0.15s;
        -webkit-transition: transform 0.15s;
        -moz-transition: transform 0.15s;
        -ms-transition: transform 0.15s;
        -o-transition: transform 0.15s;
    }

    .navbar > .links.open {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    .navbar > .links > li {
        float: none;
    }
}

/*Login Window*/
.loginWindow .loginField {
    margin: 5px;
}

.loginWindow button.loginField {
    float: right;
}

.loginWindow {
    position: absolute;
    top: var(--nav-bar-height);
    right: 0;
}

/*Footer*/
footer {
    background: black;
    width: 100%;
    height: var(--footer-height);
    position: absolute;
    left: 0;
}

/*Router*/
.router {
    width: 100%;
    top: var(--nav-bar-height);
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
}

.router > div {
    width: 100%;
    min-height: 100%;
    display: inline-block;
    position: relative;
    /*margin-bottom: var(--footer-height);*/
    /*padding-bottom: var(--footer-height);*/
}

.expandable {
    height: 0;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    overflow: hidden;
}

.red {
    color: #dd3333;
}