.root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.root > .loading {
  background: rgba(0, 0, 0, 0.6274509804);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.root > .loading > .loaderCircle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar {
  background: #2F3136;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
}
.navbar > .hamburgerMenu {
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  display: none;
}
.navbar > .hamburgerMenu > img {
  height: 100%;
}
.navbar ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}
.navbar .list {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  float: left;
  transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -webkit-transition: height 0.15s ease-in;
}
.navbar .list > li {
  background: #2F3136;
  padding: 0 10px;
  z-index: 1;
  display: block;
  position: relative;
}
.navbar .list.arrow > li::before {
  background: url("./assets/down_triangle_icon.svg") 0 0/1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  content: "";
}
.navbar .list > ul {
  background: #2F3136;
  min-width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}
.navbar .list > ul > li {
  padding: 0 10px;
}
.navbar > .links > li {
  line-height: 40px;
  cursor: pointer;
  padding: 0 10px;
  float: left;
  margin: 0;
}
.navbar li:hover {
  background: #505050;
}
.navbar > .links > li:active,
.navbar > .list > ul > li:active,
.navbar > .loginBtn:active {
  background: #404040;
}
.navbar > .loginBtn {
  float: right;
}
.navbar > .loginBtn > li {
  height: 40px;
  box-sizing: border-box;
}
.navbar > .loginBtn > li > img {
  height: 80%;
  vertical-align: middle;
}
.navbar > .loginBtn > li > span {
  vertical-align: top;
  padding-left: 5px;
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  .navbar > .hamburgerMenu {
    display: inline-block;
  }
  .navbar > .links {
    background: #2F3136;
    max-width: 15em;
    height: 100vh;
    display: block;
    transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.15s;
    -o-transition: transform 0.15s;
    -ms-transition: transform 0.15s;
    -moz-transition: transform 0.15s;
    -webkit-transition: transform 0.15s;
  }
  .navbar > .links.open {
    transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .navbar > .links > ul,
  .navbar > .links > li {
    float: none;
  }
}

.loginWindow {
  background: rgba(30, 30, 30, 0.8);
  position: absolute;
  top: 40px;
  right: 0;
}
.loginWindow > .loginField {
  display: block;
  margin: 5px;
}
.loginWindow > button.loginField {
  float: right;
}
@media only screen and (max-width: 700px) {
  .loginWindow {
    width: 100%;
  }
}

footer {
  background: black;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
}

.router {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.router > div {
  width: 100%;
  min-height: 100%;
  overflow-x: auto;
}

.expandable {
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
