@import 'variables';

%nckuHubDetailWindow {
    .nckuHubDetailWindow {
        > .courseInfoPanel {
            text-align: center;

            > span {
                font-size: 25px;
                margin-right: 10px;
            }
        }

        > .nckuHubPanel {
            font-size: 18px;

            > .title {
                margin-top: 10px;
                display: block;
            }

            > .rates {
                width: 100%;
                padding: 10px 0;
                display: table;
                table-layout: fixed;
                text-align: center;

                > div {
                    display: table-cell;
                }

                > div > .rateBox {
                    background: $pure-gray-800;
                    max-width: 7em;
                    margin: auto;
                    border-radius: 10px;

                    > span {
                        display: block;
                    }
                }
            }

            > .comments {
                > .commentBlock {
                    background: $pure-gray-800;
                    margin: 10px 5px;
                    border-radius: 10px;
                    padding: 10px;

                    > span {
                        background: $pure-gray-700;
                        color: #ff4d4d;
                        font-size: 18px;
                        padding: 2px 10px;
                        border-radius: 2em;
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}