@import './variables';

$popupWindow-bg-color: $pure-gray-900;
$popupWindow-close-btn-size: 34px;
$popupWindow-close-btn-icon-size: 24px;

.popupWindowOverlay {
    background: $overlay-transparent-bg-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;

    > .popupWindow {
        background: $popupWindow-bg-color;
        border-radius: 10px;
        position: absolute;
        overflow: hidden;
        margin: auto;

        > .buttons {
            > button {
                background: $button-dark-bg-color;
                border-radius: 10px;
                display: inline-block;
                margin: 0 5px;
            }

            > .conform:hover {
                background: $button-dark-green-bg-color;
            }

            > .cancel:hover {
                background: $button-dark-red-bg-color;
            }
        }

        > .closeButton {
            background: none;
            width: $popupWindow-close-btn-size;
            height: $popupWindow-close-btn-size;
            padding: $popupWindow-close-btn-size - $popupWindow-close-btn-icon-size 0 0 $popupWindow-close-btn-size - $popupWindow-close-btn-icon-size;
            position: absolute;
            top: 0;
            cursor: pointer;
            z-index: 1;

            &:focus {
                box-shadow: none;
            }

            > .icon {
                content: '';
                background: $icon-close no-repeat 0 0/#{$popupWindow-close-btn-icon-size};
                width: $popupWindow-close-btn-icon-size;
                height: $popupWindow-close-btn-icon-size;
            }
        }

        > .popupWindowBody {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 0 5px;
            @include box-sizing-border;
        }
    }

    &.dialog > .popupWindow {
        max-width: 400px;
        top: 50%;
        left: 15px;
        right: 15px;
        @include transform(translateY(-50%));
    }

    &.normal > .popupWindow {
        max-width: 1000px;
        top: 5%;
        bottom: 5%;
        left: 40px;
        right: 40px;
    }

    &.small {
        display: flex;
        justify-content: center;
        align-items: center;

        > .popupWindow {
            max-width: 700px;
            margin: 0 10%;
            position: relative;
        }
    }

    &.padding > .popupWindow {
        padding-top: $popupWindow-close-btn-size + 5;
    }

    @media only screen and ($small-screen) {
        &.normal > .popupWindow {
            width: 100%;
            height: 100%;
            border-radius: 0;
            position: static;
            @include box-sizing-border;

            > .closeButton > .icon {
                background: $icon-down-arrow no-repeat 0 0/#{$popupWindow-close-btn-icon-size};
                @include transform(rotate(90deg));
            }
        }
        &.small > .popupWindow {
            margin: 0 5px;
        }
    }
}