@import './variables';

$popupWindow-bg-color: $pure-gray-800;

.popupWindow {
    background: $overlay-transparent-bg-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;

    > .popupWindowBody {
        background: $popupWindow-bg-color;
        border-radius: 10px;
        padding: 5px;
        position: absolute;
        overflow: auto;
        margin: auto;

        > .buttons {
            text-align: center;

            > button {
                background: $button-dark-bg-color;
                border-radius: 10px;
                display: inline-block;
                margin: 0 5px;
            }

            > .conform:hover {
                background: $button-dark-green-bg-color;
            }

            > .cancel:hover {
                background: $button-dark-red-bg-color;
            }
        }

        > .closeButton {
            background: none;
            padding: 2px;
            top: 0;
            position: sticky;
            cursor: pointer;
            z-index: 1;

            &:focus {
                box-shadow: none;
            }

            > .icon {
                content: '';
                background: $icon-close no-repeat 0 0 / 24px;
                width: 24px;
                height: 24px;
            }
        }
    }

    &.dialog > .popupWindowBody {
        max-width: 400px;
        top: 50%;
        left: 15px;
        right: 15px;
        @include transform(translateY(-50%));
    }

    &.default > .popupWindowBody {
        max-width: 1000px;
        top: 5%;
        bottom: 5%;
        left: 40px;
        right: 40px;

        @media only screen and ($small-screen) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            position: static;
            @include box-sizing-border;

            > .closeButton > .icon {
                background: $icon-down-arrow no-repeat 0 0/24px;
                @include transform(rotate(90deg));
            }
        }
    }

}