@import 'variables';

.selectMenu {
    font-size: 18px;
    position: relative;

    &::after {
        content: '';
        background: $icon-down-arrow no-repeat 0 0/1em;
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0.5em;
        margin: auto;
        pointer-events: none;
    }

    > input {
        width: 100%;
        cursor: pointer;
        padding: 5px 1.5em 5px 5px;

        &.withClearBtn {
            padding-right: 2.7em;
        }
    }

    > .clearBtn {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        right: 1.8em;
    }

    > .content {
        background: #505050;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        @include box-sizing-border;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);

        &.open {
            display: block;
        }

        > .searchBar {
            position: relative;
            margin-bottom: 5px;

            // Search icon
            &::before {
                content: '';
                background: $icon-search no-repeat 0 0/1em;
                position: absolute;
                width: 1em;
                height: 1em;
                top: 0;
                bottom: 0;
                left: 10px;
                margin: auto;
                pointer-events: none;
            }

            > input {
                width: 100%;
                background: none;
                border-radius: 5px;
                border: 1px solid #B3B3B3;
                padding-left: 35px;
            }
        }

        > .items {
            max-height: 200px;
            list-style-type: none;
            padding: 0 5px 0 0;
            margin: 0;
            overflow: auto;

            > .groupTitle {
                background: none;
                width: 100%;
                padding: 5px 0;
                display: block;
                border-radius: 5px;
                text-align: left;
                cursor: pointer;
                box-shadow: none;

                &::before {
                    content: '';
                    background: $icon-down-triangle no-repeat 0 0/1em;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    vertical-align: middle;
                    @include transform(rotate(-90deg));
                    @include transition(transform 0.1s);
                }

                &.open::before {
                    @include transform(rotate(0));
                }
            }

            .group {
                list-style-type: none;
                padding: 0 0 0 10px;
                display: none;

                &.open {
                    display: block;
                }
            }

            .item {
                line-height: 1.7em;
                border-radius: 5px;
                padding: 0 10px;
                cursor: pointer;
            }

            .item.multi {
                padding: 0 10px;
                // Multi selection
                > .checkbox {
                    @include box-sizing-border;
                    width: 100%;
                    line-height: 2em;
                    display: inline-block;
                    cursor: pointer;
                }
            }

            .item.hide, .groupTitle.hide {
                display: none;
            }

            .item:hover, .groupTitle:hover {
                background: #676767;
            }
        }
    }
}