$font-size: 20px;
$font-color: #e8e6e3;
$font-color2: #c8c6c3;

$pure-gray-50: #FAFAFA;
$pure-gray-100: #F5F5F5;
$pure-gray-200: #EEEEEE;
$pure-gray-300: #E0E0E0;
$pure-gray-400: #BDBDBD;
$pure-gray-500: #9E9E9E;
$pure-gray-600: #757575;
$pure-gray-700: #616161;
$pure-gray-800: #424242;
$pure-gray-900: #212121;
$pure-gray-1000: #080808;

$small-screen: 'max-width: 700px';
$background-color: $pure-gray-1000;
$object-layer1-dark: $pure-gray-900;
$object-layer2-dark: $pure-gray-800;

$navbar-height: 40px;
$navbar-margin-top: 5px;
$navbar-font-color: 40px;
$navbar-bg-color: $pure-gray-900;
$navbar-hover-color: $pure-gray-800;
$navbar-active-color: $background-color;
$navbar-menu-bg-color: $pure-gray-800;


$button-bg-color: #5B5B5B;
$button-hover-color: #505050;
$button-active-color: #404040;
$button-dark-bg-color: #303A47;
$button-dark-green-bg-color: #304C47;
$button-dark-red-bg-color: #703a47;

$scrollbar-bg-color: #00000019;

$overlay-transparent-bg-color: #000000A0;

$source-root: '/NCKUpp/res/assets/';
$icon-info: url($source-root + 'info_icon.svg');
$icon-warn: url($source-root + 'warn_icon.svg');
$icon-down-triangle: url($source-root + 'down_triangle_icon.svg');
$icon-new-tab: url($source-root + 'new_tab_icon.svg');
$icon-down-arrow: url($source-root + 'down_arrow_icon.svg');
$icon-close: url($source-root + 'close_icon.svg');
$icon-search: url($source-root + 'search_icon.svg');

@mixin transform($transform) {
    transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
}

@mixin transition($transition) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}

@mixin calc($prop, $values) {
    #{$prop}: calc(#{$values});
    #{$prop}: -moz-calc(#{$values});
    #{$prop}: -webkit-calc(#{$values});
}

@mixin box-sizing($value) {
    box-sizing: $value;
    -moz-box-sizing: $value;
    -webkit-box-sizing: $value;
}

@mixin cursor-grabbing {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: grabbing;
}

@mixin cursor-grab {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: grab;
}
