@import '../variables';

$search-result-header-bg-color: #1D2329;

:root {
    --fade-time: 0.2s;
    --popupWindow-bg-color: rgba(0, 0, 0);
    --comment-bg-color: gray;
    --ratebox-bg-color: gray;
    --course-result-item-spacing: 10px;
    --course-info-title-font-size: 20px;
}

.courseSearch {
    // Search form
    > .form {
        padding: 5px;

        > input,
        > .selectMenu {
            width: 350px;
            margin-bottom: 5px;
            display: block;
        }

        > button {
            border-radius: 20px;
            margin-bottom: 5px;
        }
    }

    // Search result table
    > .result {
        width: 100%;
        border-spacing: 0;
        font-size: 18px;
        padding: 0 20px;
        white-space: nowrap;
        margin: auto;

        @media only screen and ($small-screen) {
            padding: 0;
        }

        > .loaderCircle {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }

        .expandDownArrow > img {
            width: 1em;
            margin: 0 0.2em;
            vertical-align: middle;
            @include transform(rotate(-90deg));
            @include transition(0.2s transform);
        }

        .expandDownArrow.expand > img {
            @include transform(rotate(0));
        }

        .nckuhub {
            width: 4em;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: #21262d;
            }

            > span {
                width: 4em;
                display: inline-block;
                padding-left: 2px;
                padding-right: 1px;
            }
        }

        // Header
        > thead {
            background: $search-result-header-bg-color;
            position: sticky;
            top: 0;

            .expandDownArrow {
                height: 1.7em;
            }

            // Course search result filter
            .filterSection {
                height: 4em;
                text-align: left;
            }

            .filterSection > div {
                position: absolute;
                width: 100%;
                z-index: 1;
            }

            .filterSection .options {
                background: $search-result-header-bg-color;
                overflow: hidden;
            }

            .filterSection .options > img {
                float: left;
            }

            .filterSection .options > .filter {
                height: 2em;
                display: block;
                overflow: hidden;
            }

            .filterSection .options > .filter > input {
                width: 100%;
                background: none;
                box-shadow: none;
            }

            .filterSection .options > .resultCount {
                height: 2em;
                padding-left: 5px;
            }

            > tr > th > .sortArrow {
                position: absolute;
                bottom: 1em;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 0.8em;
                pointer-events: none;
                @include transition(0.1s transform);
            }

            > tr > th > .sortArrow.reverse {
                @include transform(rotate(180deg));
            }

            > tr > th {
                line-height: 1.4em;
                vertical-align: bottom;
            }

            > tr > th:not(:first-child):not(:last-child) {
                cursor: pointer;
                position: relative;
                padding: 0 1px;
            }

            > tr > th:not(:first-child) {
                border-left: lightgrey solid 1px;
            }

            > tr > th:not(:first-child):not(:last-child):hover {
                background: $button-hover-color;
            }

            > tr > th:first-child {
                width: 0;
                border-bottom-left-radius: 10px;
            }

            > tr > th:last-child {
                border-bottom-right-radius: 10px;
                padding-right: 10px;
            }
        }

        > tbody {
            // Block background
            > tr {
                background: #252b33;
            }

            // Block spacing
            > tr:nth-child(3n+1) {
                height: var(--course-result-item-spacing);
            }

            // Block
            > tr:nth-child(3n+2) {
                > td {
                    padding: 5px 0;
                }

                > td:last-child {
                    border-radius: 0 10px 10px 0;
                    padding-right: 5px;
                }

                > td:first-child {
                    border-radius: 10px 0 0 0;
                }

                // Result course name
                > .courseName {
                    cursor: pointer;
                    &:hover {
                        background: #21262d;
                    }
                }

                // Option button
                > .options > button {
                    padding: 2px;
                    font-size: 18px;
                }
            }

            // Block detail
            > .courseDetail {
                > td {
                    border-radius: 0 0 0 10px;
                }

                // Course info
                > td > .expandable {
                    overflow: hidden;
                    @include transition(0.2s height);
                }

                .info {
                    white-space: pre-wrap;
                    padding: 0 0 5px 5px;
                }

                .info > .splitLine {
                    width: 100%;
                    border-top: 1px gray solid;
                    margin-bottom: 2px;
                }

                // Course tags
                .info > .tags {
                    padding: 5px 0;

                    > div, > a {
                        margin-right: 10px;
                        border-radius: 8px;
                        padding: 1px 3px;
                        display: inline-block;
                    }

                    a:after {
                        content: '';
                        background: $icon-down-triangle no-repeat 0 0 / 1em;
                        width: 1em;
                        height: 1em;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .info > .note,
                .info > .limit {
                    display: block;
                }

                .info > .note::before {
                    background: $icon-info no-repeat 0 0 / 1em;
                    width: 1em;
                    height: 1em;
                    content: '';
                    display: inline-block;
                    vertical-align: text-top;
                    margin-top: 0.15em;
                }

                .info > .limit::before {
                    background: $icon-warn no-repeat 0 0 / 1em;
                    width: 1em;
                    height: 1em;
                    content: '';
                    display: inline-block;
                    vertical-align: text-top;
                    margin-top: 0.15em;
                }

                .info > .instructor {
                    font-size: 16px;
                }

                .info > .instructorBtn {
                    margin: 0 5px 0 0;
                    font-size: 16px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }

    // Popup window
    > .popupWindow {
        background: $overlay-transparent-bg-color;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;
        display: none;
    }

    > .popupWindow.open {
        display: block;
    }

    > .popupWindow > div {
        top: 100px;
        bottom: 100px;
        left: 100px;
        right: 100px;
        position: absolute;
        margin: auto;
    }

    // Popup window
    > .popupWindow > div {
        background: var(--popupWindow-bg-color);
        overflow: auto;
        border-radius: 10px;
        padding: 5px;
    }

    @media only screen and ($small-screen) {
        > .popupWindow > div {
            width: 100%;
            height: 100%;
            position: static;
            border-radius: 0;
            box-sizing: border-box;
            padding: 5px 0 0 5px;
        }
    }

    > .popupWindow .closeButton {
        background: none;
        padding: 2px;
        top: 0;
        position: sticky;
        cursor: pointer;

        &:focus {
            box-shadow: none;
        }

        > .icon {
            content: $icon-close;
            width: 24px;
        }
    }

    @media only screen and ($small-screen) {
        > .popupWindow .closeButton > .icon {
            content: $icon-down-arrow;
            @include transform(rotate(90deg));
        }
    }

    // Course detail window
    .nckuhubDetailWindow > .rates {
        width: 100%;
        display: table;
        table-layout: fixed;
        text-align: center;
    }

    .nckuhubDetailWindow > .rates > div {
        display: table-cell;
    }

    .nckuhubDetailWindow > .rates > div > .rateBox {
        background: var(--ratebox-bg-color);
        max-width: 7em;
        margin: auto;
        border-radius: 10px;
    }

    .nckuhubDetailWindow > .rates .rateBox > span {
        display: block;
    }

    .nckuhubDetailWindow > .comments > .commentBlock {
        background: var(--comment-bg-color);
        margin: 0 5px 5px 5px;
        border-radius: 10px;
        padding: 10px;
    }

    .nckuhubDetailWindow > .comments > .commentBlock > span {
        display: block;
    }

    @media only screen and ($small-screen) {
        > .instructorInfoOffset > .instructorInfo {
            display: none;
        }
    }

    > .instructorInfoOffset > .instructorInfo {
        background: rgba(0, 0, 0, 0.8);
        max-width: 500px;
        padding: 5px;
        border-radius: 10px;
        box-sizing: border-box;
        white-space: pre-wrap;
        word-break: break-word;
        bottom: 0;
        position: absolute;
    }

    > .instructorInfoOffset {
        position: absolute;
        right: 0;
        margin: auto;
        opacity: 0;
        visibility: hidden;
        @include transition((visibility var(--fade-time), opacity var(--fade-time) ease-in));
    }

    > .instructorInfoOffset.show {
        opacity: 1;
        visibility: visible;
    }

    .instructorInfo > span {
        display: block;
    }

    .instructorInfo > .rate {
        overflow: auto;
    }

    .instructorInfo > .rate > table {
        width: 100%;
    }

    .instructorInfo > .rate > table td {
        text-align: center;
    }

    .instructorInfo > .rate > table td:after {
        content: '★';
    }

    .instructorInfo > .info > table {
        text-align: left;
    }

    .instructorInfo .blue {
        color: #33A2F4;
    }

    .instructorInfo .yellow {
        color: #FFC71E;
    }

    .instructorInfo .red {
        color: #FF311E;
    }

    // Instructor detail window
    .instructorDetailWindow > .title {
        margin: 0 10px;
    }

    .instructorDetailWindow > .title span {
        margin-right: 0.5em;
    }

    .instructorDetailWindow > .title > .name {
        display: inline-block;
    }

    .instructorDetailWindow > .tags {
        margin: 0 10px;
    }

    .instructorDetailWindow > .tags > span {
        background: $button-bg-color;
        padding: 5px;
        margin-right: 5px;
        margin-top: 5px;
        display: inline-block;
    }

    .instructorDetailWindow > .reviewerCount {
        margin: 0 10px;
    }

    .instructorDetailWindow > .reviewerCount > span:first-child {
        font-weight: bold;
        margin-right: 0.5em;
    }

    .instructorDetailWindow > .comments {
        margin: 0 10px;
    }

    .instructorDetailWindow > .comments > .item {
        background: var(--comment-bg-color);
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;
    }

    .instructorDetailWindow > .comments > .item > .profile {
        height: 2.5em;
        display: block;
        float: left;
        border-radius: 2.5em;
    }

    .instructorDetailWindow > .comments > .item > .body {
        padding-left: 3em;
    }

    .instructorDetailWindow > .comments > .item > .body > span {
        display: block;
        white-space: pre-wrap;
    }

    .instructorDetailWindow > .comments > .item > .body > span {
        display: block;
    }

    .instructorDetailWindow > .instructorInfo {
        margin: 0 10px;
    }

    @media only screen and ($small-screen) {
        .instructorDetailWindow > .title {
            margin: 0;
        }

        .instructorDetailWindow > .tags {
            margin: 0;
        }

        .instructorDetailWindow > .reviewerCount {
            margin: 0;
        }

        .instructorDetailWindow > .comments {
            margin: 0;
        }

        .instructorDetailWindow > .instructorInfo {
            margin: 0;
        }
    }
}