.courseSearch input {
    margin: 5px;
}

.courseSearch button {
    margin: 5px;
}

.courseSearch > .result {
    font-size: 18px;
    white-space: nowrap;
}

/*Course header*/
.courseSearch > .result > .header > .departmentName {
    margin-left: 1.2em;
}

.courseSearch > .result > .header {
    position: sticky;
    top: 0;
    background: dimgray;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}

/*Course info*/
.courseSearch > .result > .body > .info {
    background: #0D1117;
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.courseSearch > .result .expendDownArrow {
    height: 1em;
    margin-right: 0.2em;
    transform: rotate(-90deg);
    transition: 0.2s transform;
}

.courseSearch > .result .departmentName {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .serialNumber {
    display: inline-block;
    width: 6em;
}

.courseSearch > .result .courseTime {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .courseClass {
    display: inline-block;
}

.courseSearch > .result .nckuhub {
    position: absolute;
    top: 10px;
    right: 10px;
}

.courseSearch > .result .nckuhub > span {
    display: inline-block;
    width: 4em;
    text-align: right;
}

/*Course detail*/
.courseSearch > .result > .body > .info.extend .expendDownArrow {
    transform: rotate(0);
}

.courseSearch > .result > .body > .info .details {
    border-top: solid 1px gray;
    padding: 10px;
}

.courseSearch > .result > .body > .info .details > span {
    display: block;
}

.courseSearch > .result > .body > .info .details > .info:before {
    content: url('./res/assets/info_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result > .body > .info .details > .limit:before {
    content: url('./res/assets/warn_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result > .body > .info .details > .instructor {
    font-size: 16px;
}

/*Popup window*/
.courseSearch > .result > .popupWindow {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.courseSearch > .result > .popupWindow.open {
    display: block;
}

.courseSearch > .result > .popupWindow > div {
    background: rgba(0, 0, 0);
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    position: absolute;
    margin: auto;
    overflow: auto;
}

.courseSearch > .result > .popupWindow > div {
    white-space: pre-wrap;
}

.courseSearch > .result > .popupWindow .rates {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.courseSearch > .result > .popupWindow .rates > div {
    display: table-cell;
}

.courseSearch > .result > .popupWindow .rates > div > .rateBox {
    background: gray;
    width: 7em;
    border-radius: 10px;
    display: inline-block;
}

.courseSearch > .result > .popupWindow .rates .rateBox > span {
    display: block;
}

.courseSearch > .result > .popupWindow .comments > .commentBlock {
    background: gray;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

.courseSearch > .result > .popupWindow .comments > .commentBlock > span {
    display: block;
}

