:root {
    --fade-time: 0.2s;
    --course-info-title-font-size: 20px;
    --popupWindow-bg-color: rgba(0, 0, 0);
    --comment-bg-color: gray;
    --ratebox-bg-color: gray;
}

.courseSearch input {
    margin: 5px;
}

.courseSearch > .result {
    font-size: 18px;
    white-space: nowrap;
}

/*
    Course header
*/
.courseSearch > .result > .header > .departmentName {
    margin-left: 1.2em;
}

.courseSearch > .result > .header {
    position: sticky;
    top: 0;
    background: dimgray;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}

/*
    Course result item
*/
.courseSearch > .result > .item {
    background: #0D1117;
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .courseSearch > .result > .header {
        margin: 10px 0;
    }

    .courseSearch > .result > .item {
        margin: 10px 0;
    }
}

/*Expend info arrow*/
.courseSearch > .result > .item .expendDownArrow {
    height: 1em;
    margin-right: 0.2em;
    transform: rotate(-90deg);
    transition: 0.2s transform;
}

.courseSearch > .result > .item.extend .expendDownArrow {
    transform: rotate(0);
}

/*item title sections*/
.courseSearch > .result > .item > .header {
    overflow: hidden;
}

.courseSearch > .result .departmentName {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .serialNumber {
    display: inline-block;
    width: 6em;
}

.courseSearch > .result .courseTime {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .courseClass {
    display: inline-block;
}

.courseSearch > .result .nckuhub {
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    float: right;
}

.courseSearch > .result .nckuhub > span {
    display: inline-block;
    width: 4em;
    text-align: right;
}

/*Course info*/
.courseSearch > .result .item .info {
    border-top: solid 1px gray;
    padding: 10px;
}

.courseSearch > .result .item .info > .note,
.courseSearch > .result .item .info > .limit {
    display: block;
}

.courseSearch > .result .item .info > .note:before {
    content: url('./res/assets/info_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result .item .info > .limit:before {
    content: url('./res/assets/warn_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result .item .info > .instructor {
    font-size: 16px;
}

.courseSearch > .result .item .info > .instructorBtn {
    margin: 0;
    font-size: 18px;
    padding: 3px 5px;
    vertical-align: middle;
    display: inline-block;
}

/*Popup window*/
.courseSearch > .popupWindow {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    z-index: 3;
}

.courseSearch > .popupWindow.open {
    visibility: visible;
}

@media only screen and (min-width: 700px) {
    .courseSearch > .popupWindow > div {
        top: 100px;
        bottom: 100px;
        left: 100px;
        right: 100px;
        position: absolute;
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .courseSearch > .popupWindow > div {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.courseSearch > .popupWindow > div {
    background: var(--popupWindow-bg-color);
    overflow: auto;
}

.courseSearch > .popupWindow .closeButton {
    top: 0;
    position: sticky;
    padding: 5px;
}

.courseSearch > .popupWindow .closeButton > .icon {
    content: url('./res/assets/close_icon.svg');
    width: 1.2em;
    height: 1.2em;
}

/*Course detail window*/
.courseSearch .courseDetailWindow > .rates {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.courseSearch .courseDetailWindow > .rates > div {
    display: table-cell;
}

.courseSearch .courseDetailWindow > .rates > div > .rateBox {
    background: var(--ratebox-bg-color);
    max-width: 7em;
    margin: auto;
    border-radius: 10px;
}

.courseSearch .courseDetailWindow > .rates .rateBox > span {
    display: block;
}

.courseSearch .courseDetailWindow > .comments > .commentBlock {
    background: var(--comment-bg-color);
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

.courseSearch .courseDetailWindow > .comments > .commentBlock > span {
    display: block;
}

/*Instructor info bubble*/
@media only screen and (min-width: 700px) {
    .courseSearch > .instructorInfo {
        max-width: 500px;
        min-width: 350px;
        padding: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .courseSearch > .instructorInfo {
        display: none;
    }
}

.courseSearch > .instructorInfo {
    background: rgba(0, 0, 0, 0.9);
    height: 300px;
    box-sizing: border-box;
    white-space: pre-wrap;
    position: absolute;
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -webkit-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -moz-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -ms-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -o-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
}

.courseSearch > .instructorInfo.show {
    opacity: 1;
    visibility: visible;
}

.courseSearch .instructorInfo > span {
    display: block;
}

.courseSearch .instructorInfo > .rate {
    overflow: auto;
}

.courseSearch .instructorInfo > .rate > table {
    width: 100%;
}

.courseSearch .instructorInfo > .rate > table td {
    text-align: center;
}

.courseSearch .instructorInfo > .rate > table td:after {
    content: '★';
}

.courseSearch .instructorInfo > .info > table {
    text-align: left;
}

.courseSearch .instructorInfo .blue {
    color: #33A2F4;
}

.courseSearch .instructorInfo .yellow {
    color: #FFC71E;
}

.courseSearch .instructorInfo .red {
    color: #FF311E;
}


/*Instructor detail window*/
.courseSearch .instructorDetailWindow > .title {
    margin: 0 10px;
}

.courseSearch .instructorDetailWindow > .title span {
    margin-right: 0.5em;
}

.courseSearch .instructorDetailWindow > .title > .name {
    display: inline-block;
}

.courseSearch .instructorDetailWindow > .tags {
    margin: 0 10px;
}

.courseSearch .instructorDetailWindow > .tags > span {
    background: var(--button-bg-color);
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.courseSearch .instructorDetailWindow > .comments {
    margin: 0 10px;
}

.courseSearch .instructorDetailWindow > .comments > .item {
    background: var(--comment-bg-color);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.courseSearch .instructorDetailWindow > .comments > .item > .profile {
    height: 2.5em;
    display: block;
    float: left;
    border-radius: 2.5em;
}

.courseSearch .instructorDetailWindow > .comments > .item > .body {
    padding-left: 3em;
}

.courseSearch .instructorDetailWindow > .comments > .item > .body > span {
    display: block;
    white-space: pre-wrap;
}

.courseSearch .instructorDetailWindow > .comments > .item > .body > span {
    display: block;
}

.courseSearch .instructorDetailWindow > .instructorInfo {
    margin: 0 10px;
}

@media only screen and (max-width: 700px) {
    .courseSearch .instructorDetailWindow > .title {
        margin: 0;
    }

    .courseSearch .instructorDetailWindow > .tags {
        margin: 0;
    }

    .courseSearch .instructorDetailWindow > .comments {
        margin: 0;
    }

    .courseSearch .instructorDetailWindow > .instructorInfo {
        margin: 0;
    }

    /*.courseSearch .instructorDetailWindow > .instructorInfo > span {*/
    /*    margin: 0 10px;*/
    /*}*/
}
