$course-block-bg-color: #5985ef;
$schedule-head-bg-color: #282B2C;

.courseSchedule {

    > .courseScheduleTable {
        margin: 10px;
        border-spacing: 5px;

        > caption {
            text-align: left;
        }

        > thead {
            position: relative;

            > tr {
                height: 2em;
                text-align: center;
            }

            > tr > .background {
                background-color: $schedule-head-bg-color;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                position: absolute;
            }
        }

        > tbody {
            // Schedule section row
            > tr {
                position: relative;

                > td {
                    padding: 5px;
                    border: none;
                    text-align: center;

                    // Time split line
                    &:nth-child(2) {
                        border-right: white 1px solid;
                        width: 0;
                    }

                    // Course data
                    &.activateCell {
                        background: $course-block-bg-color;
                        min-width: 8em;
                        border-radius: 10px;
                        vertical-align: top;
                        cursor: pointer;

                        > span {
                            display: block;
                        }
                    }
                }

                > .splitLine {
                    background-color: #1C1E1F;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    position: absolute;
                }
            }

            // Undecided time row
            > tr.undecided {
                > td {
                    text-align: left;
                    padding: 0;

                    &:nth-child(2) {
                        line-height: 3em;
                        text-align: center;
                    }

                    div {
                        background: $course-block-bg-color;
                        height: 3em;
                        min-width: 6em;
                        display: inline-block;
                        border-radius: 10px;
                        box-sizing: border-box;
                        padding: 5px;
                        margin-right: 5px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    > .courseInfoWindow {
        background: rgba(0, 0, 0, 0.9);
        width: 70%;
        height: 70%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        white-space: pre-wrap;
    }
}