:root {
    --course-info-title-font-size: 20px;
    --popupWindow-bg-color: rgba(0, 0, 0);
    --fade-time: 0.2s;
}

.courseSearch input {
    margin: 5px;
}

.courseSearch button {
    margin: 5px;
}

.courseSearch > .result {
    font-size: 18px;
    white-space: nowrap;
}

/*
    Course header
*/
.courseSearch > .result > .header > .departmentName {
    margin-left: 1.2em;
}

.courseSearch > .result > .header {
    position: sticky;
    top: 0;
    background: dimgray;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}

/*
    Course result item
*/
.courseSearch > .result > .item {
    background: #0D1117;
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

/*Expend info arrow*/
.courseSearch > .result > .item .expendDownArrow {
    height: 1em;
    margin-right: 0.2em;
    transform: rotate(-90deg);
    transition: 0.2s transform;
}

.courseSearch > .result > .item.extend .expendDownArrow {
    transform: rotate(0);
}

/*item title sections*/
.courseSearch > .result > .item > .header {
    overflow: hidden;
}

.courseSearch > .result .departmentName {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .serialNumber {
    display: inline-block;
    width: 6em;
}

.courseSearch > .result .courseTime {
    display: inline-block;
    margin-right: 2em;
}

.courseSearch > .result .courseClass {
    display: inline-block;
}

.courseSearch > .result .nckuhub {
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    float: right;
}

.courseSearch > .result .nckuhub > span {
    display: inline-block;
    width: 4em;
    text-align: right;
}

/*Course info*/
.courseSearch > .result .item .info {
    border-top: solid 1px gray;
    padding: 10px;
}

.courseSearch > .result .item .info > .note,
.courseSearch > .result .item .info > .limit {
    display: block;
}

.courseSearch > .result .item .info > .note:before {
    content: url('./res/assets/info_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result .item .info > .limit:before {
    content: url('./res/assets/warn_icon.svg');
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.courseSearch > .result .item .info > .instructor {
    font-size: 16px;
}

.courseSearch > .result .item .info > .instructorBtn {
    margin: 0;
    font-size: 18px;
    padding: 3px 5px;
    display: inline-block;
}

/*Popup window*/
.courseSearch > .popupWindow {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    z-index: 3;
}

.courseSearch > .popupWindow.open {
    visibility: visible;
}

.courseSearch > .popupWindow > div {
    background: var(--popupWindow-bg-color);
    overflow: auto;
}

@media only screen and (min-width: 700px) {
    .courseSearch > .popupWindow > div {
        top: 100px;
        bottom: 100px;
        left: 100px;
        right: 100px;
        position: absolute;
        margin: auto;
    }
}

/*Course detail window*/
.courseSearch > .popupWindow > div {
    white-space: pre-wrap;
}

.courseSearch > .popupWindow .rates {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.courseSearch > .popupWindow .rates > div {
    display: table-cell;
}

.courseSearch > .popupWindow .rates > div > .rateBox {
    background: gray;
    max-width: 7em;
    margin: auto;
    border-radius: 10px;
}

.courseSearch > .popupWindow .rates .rateBox > span {
    display: block;
}

.courseSearch > .popupWindow .comments > .commentBlock {
    background: gray;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

.courseSearch > .popupWindow .comments > .commentBlock > span {
    display: block;
}

/*Instructor info bubble*/
@media only screen and (min-width: 700px) {
    .courseSearch > .instructorInfo {
        max-width: 500px;
        min-width: 350px;
        padding: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .courseSearch > .instructorInfo {
        left: 0 !important;
        right: 0 !important;
        margin: auto;
        overflow: auto;
    }
}

.courseSearch > .instructorInfo {
    background: rgba(0, 0, 0, 0.9);
    height: 300px;
    box-sizing: border-box;
    white-space: pre-wrap;
    position: absolute;
    z-index: 2;

    /*animation: fadeIn var(--fade-time) reverse forwards;*/
    /*-webkit-animation: fadeIn var(--fade-time) reverse forwards;*/
    /*-moz-animation: fadeIn var(--fade-time) reverse forwards;*/
    /*-o-animation: fadeIn var(--fade-time) reverse forwards;*/

    opacity: 0;
    visibility: hidden;
    transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -webkit-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -moz-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -ms-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
    -o-transition: visibility var(--fade-time), opacity var(--fade-time) ease-in;
}

.courseSearch > .instructorInfo.show {
    opacity: 1;
    visibility: visible;
    /*animation: fadeIn var(--fade-time) normal forwards;*/
    /*-webkit-animation: fadeIn var(--fade-time) normal forwards;*/
    /*-moz-animation: fadeIn var(--fade-time) normal forwards;*/
    /*-o-animation: fadeIn var(--fade-time) normal forwards;*/
}

.courseSearch > .instructorInfo > span {
    display: block;
}

.courseSearch > .instructorInfo > table {
    width: 100%;
}

.courseSearch > .instructorInfo > table td {
    text-align: center;
}

.courseSearch > .instructorInfo > table td:after {
    content: '★';
}

.courseSearch > .instructorInfo .blue {
    color: #33A2F4;
}

.courseSearch > .instructorInfo .yellow {
    color: #FFC71E;
}

.courseSearch > .instructorInfo .red {
    color: #FF311E;
}
