@import '../variables';

$course-block-bg-color: #5985EF;
$course-pre-block-bg-color: #464646;
$schedule-head-bg-color: #282B2CB0;
$schedule-row-bg-color: #1C1E1FB0;

.courseSchedule {
    > .title {
        margin: 10px 10px 0 10px;
    }

    > .options {
        margin: 10px 10px 0 10px;

        > .checkboxWithName {
            margin-right: 5px;
            display: inline-block;
        }
    }

    > .scheduleTableInfo {
        margin: 10px 10px 0 10px;
        display: block;
    }

    > .tableContainer {
        margin: 0 10px;
    }

    > .downloadScheduleBtn {
        background: $button-dark-bg-color;
        cursor: pointer;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        font-size: 20px;
        display: none;

        &.show {
            display: inline-block;
        }

        &:hover {
            background: $button-dark-green-bg-color;
        }
    }

    table.courseScheduleTable {
        height: 100%;
        border-collapse: collapse;

        > thead {
            position: relative;

            > tr {
                height: 2em;
                text-align: center;

                > td {
                    background: $schedule-head-bg-color;
                }

                > td:nth-child(n+2) {
                    min-width: 90px;
                    font-size: 18px;
                }

                > td:first-child {
                    border-radius: 20px 0 0 0;
                }

                > td:last-child {
                    border-radius: 0 20px 0 0;
                }
            }

            > tr > .background {
                background: $schedule-head-bg-color;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                position: absolute;
            }
        }

        > tbody {
            &.showRoom {
                > tr.timeRow > td.activate > div > .room {
                    color: $font-color2;
                    font-size: 16px;
                    display: block;
                }
            }

            // Schedule section row
            > tr {
                position: relative;

                &.timeRow {
                    > td.timeCode {
                        background: $schedule-row-bg-color;
                        font-size: 20px;
                        position: sticky;
                        left: 0;

                        > span {
                            width: 20px;
                            display: inline-block;
                            text-align: center;
                        }
                    }

                    > td.time {
                        background: $schedule-row-bg-color;
                        font-size: 18px;
                        padding: 2px 5px 0 2px;
                        white-space: pre-wrap;
                        position: sticky;
                        left: 20px;
                    }
                }

                &.splitLine > td {
                    background: #b2b2b2;
                    height: 3px;

                    &:nth-child(1) {
                        position: sticky;
                        left: 0;
                    }

                    &:nth-child(2) {
                        position: relative;
                        z-index: -1;
                    }
                }

                // Course block
                > td.activate {
                    padding: 3px 0 3px 4px;

                    > div {
                        font-size: 18px;
                        padding: 5px;
                        border-radius: 10px;
                        text-align: center;
                        @include box-sizing-border;
                        cursor: pointer;

                        // Course data
                        &.sure {
                            background: $course-block-bg-color;
                        }

                        &.pre {
                            background: $course-pre-block-bg-color;
                        }

                        &.fullHeight {
                            height: 100%;
                        }

                        > .room {
                            display: none;
                        }
                    }
                }

                &:last-child > td:first-child {
                    border-radius: 0 0 0 20px;
                }
            }

            // Undecided time row
            > tr.undecided {
                > td.timeCode {

                }

                > td.time {
                    text-align: center;
                }

                > td.activate {
                    > div {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    // PreScheduleTable
    .courseScheduleTable.pre {
        > tbody {
            // Schedule section row
            > tr > td.activate {
                > div {
                    > span:first-child {
                        //display: block;
                    }

                    &:nth-child(n+2) {
                        margin-top: 5px;
                    }

                    &.sure {
                        border: 2px #00000000 solid;
                    }

                    &.pre {
                        border: 2px gray dashed;
                    }

                    &.hover {
                        border-color: greenyellow;
                    }
                }
            }
        }
    }

    // Expend table width when capture image
    &.capture > .courseScheduleTable {
        width: 100%;
    }

    .courseInfo {
        > .delete {
            background: indianred;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }

    > .courseTable {
        //width: 100%;
        border-collapse: collapse;
        text-align: center;

        > thead {
            > tr > th {
                border: 1px solid;
            }
        }

        > tbody {
            > tr {
                > td {
                    min-width: 2em;
                    border: 1px solid;
                }

                > .serialNumber, > .courseName {
                    white-space: nowrap;
                }

                > .courseTime {
                    > button {
                        border-radius: 10px;
                        display: inline-block;

                        &:not(&:first-child) {
                            margin-left: 10px;
                        }
                    }
                }

                > .functionBtn {
                    white-space: nowrap;

                    > button {
                        border-radius: 10px;
                        display: inline-block;

                        &:not(&:first-child) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}