@import '../variables';

$search-result-header-bg-color: #1D2329;
$search-result-course-block-bg-color: #252b33;
$search-result-item-spacing: 10px;
$instructor-info-fade-time: 200ms;

.courseSearch {
    > .title {
        margin: 10px 10px 0 10px;
    }

    // Search form
    > .form {
        padding: 5px;

        > input, > label, > .selectMenu {
            width: 350px;
            max-width: 100%;
            margin: 2px;
            display: block;
            float: left;
        }

        > button {
            border-radius: 20px;
            margin: 2px;
            clear: both;
        }

        > .grade, > .dayOfWeek, .section {
            width: 8em;
        }
    }

    // Search result table
    > .result {
        width: 100%;
        height: 100%;
        border-spacing: 0;
        font-size: 20px;
        padding: 0 5px;
        white-space: nowrap;
        margin: auto;
        position: relative;

        > .loaderCircle {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }

        .expandDownArrow {
            > img {
                width: 1em;
                //margin: 0 0.2em;
                vertical-align: middle;
                @include transform(rotate(-90deg));
                @include transition(0.2s transform);

            }

            &.expand > img {
                @include transform(rotate(0));
            }
        }

        .nckuhub {
            width: 0;
            cursor: pointer;

            &:hover {
                background: #21262d;
            }

            > div {
                width: 2.5em;
                display: inline-block;

                > .label {
                    display: none;
                }
            }
        }

        // Header
        > thead {
            background: $search-result-header-bg-color;
            position: sticky;
            top: 0;

            > tr:not(:last-child) {
                white-space: pre-wrap;
                overflow-wrap: anywhere;
            }

            > tr {
                // Course search result filter
                > .filterOptions {
                    font-size: 18px;
                    text-align: left;
                    padding: 2px 5px;

                    > .searchBar {
                        width: 100%;
                        display: block;
                        position: relative;

                        > img {
                            width: 1.4em;
                            height: 1.4em;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            position: absolute;
                        }

                        > input {
                            background: none;
                            width: 100%;
                            padding: 0 0 0 1.4em;
                            box-shadow: none;
                        }
                    }

                    > .selectMenu,
                    > .checkboxWithName {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }

                > .resultCount {
                    text-align: left;
                    padding-left: 5px;
                }

                > .expandDownArrow {
                    width: 0;
                    padding: 0 2px;
                }

                > .serialNumber {
                    width: 0;
                }

                > th {
                    > .sortArrow {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 0.7em;
                        pointer-events: none;
                        @include transition(0.1s transform);

                        &.reverse {
                            @include transform(rotate(180deg));
                        }
                    }
                }

                > th:not(:first-child) {
                    padding: 5px 1px 0 1px;
                    border-left: lightgrey solid 1px;
                    position: relative;

                    &:hover {
                        background: $button-hover-color;
                    }
                }

                // Round corner
                &:last-child > th:first-child {
                    border-bottom-left-radius: 10px;
                }

                &:last-child > th:last-child {
                    border-bottom-right-radius: 10px;
                    padding-right: 10px;
                }
            }
        }

        > tbody {
            // Block background
            > tr {
                background: $search-result-course-block-bg-color;
            }

            // Block spacing
            > tr.courseBlockSpacing {
                height: $search-result-item-spacing;
            }

            // Block
            > tr.courseInfoBlock {
                //font-weight: bold;

                > td {
                    padding: 5px 2px;
                    text-align: center;

                    &:last-child {
                        border-radius: 0 10px 10px 0;
                        padding-right: 5px;
                    }

                    &:first-child {
                        border-radius: 10px 0 0 0;
                    }

                    > .label {
                        display: none;
                    }
                }

                > .departmentName {
                    text-overflow: ellipsis;
                    max-width: 10vh;
                    overflow: hidden;
                }

                > .category {
                    white-space: pre-wrap;
                }

                > .courseName {
                    padding: 0;

                    > a {
                        width: 100%;
                        height: 100%;
                        display: table;
                        padding: 5px 2px;
                        @include box-sizing(border-box);
                        white-space: pre-wrap;

                        > span {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }

                    &:hover {
                        background: #21262d;
                    }
                }

                > .detailedCourseName {
                    display: none;
                }

                > .courseTime {
                    padding: 3px 2px;
                    white-space: pre-wrap;

                    > button {
                        background-color: $button-dark-bg-color;
                        display: inline-block;
                        cursor: pointer;
                        border-radius: 10px;
                        margin: 3px 3px 0 0;
                        padding: 2px 5px;
                    }
                }

                // Option button
                > .options {
                    border-left: 1px gray solid;

                    > button {
                        background-color: $button-dark-bg-color;
                        margin-bottom: 2px;
                        padding: 2px 5px;
                        font-size: 18px;
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            background-color: $button-dark-green-bg-color;
                        }
                    }
                }
            }

            // Block detail
            > .courseDetailBlock {
                color: $font-color2;

                > td {
                    border-radius: 0 0 0 10px;

                    > .expandable {
                        overflow: hidden;
                        @include transition(0.2s height);
                    }
                }

                // Course detail
                > td .info {
                    white-space: pre-wrap;
                    padding: 0 0 5px 5px;

                    > .splitLine {
                        width: 100%;
                        border-top: 1px gray solid;
                        margin-bottom: 2px;
                    }

                    // Course tags
                    > .tags {
                        padding: 5px 0;
                        color: #ffffff;

                        > div, > a {
                            margin-right: 10px;
                            border-radius: 8px;
                            padding: 1px 3px;
                            display: inline-block;
                        }

                        > a {
                            text-decoration: underline;
                        }

                        a::after {
                            content: '';
                            background: $icon-new-tab no-repeat 0 0 / 1em;
                            width: 1em;
                            height: 1em;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    > .note,
                    > .limit {
                        display: block;
                    }

                    > .note::before {
                        background: $icon-info no-repeat 0 0 / 1em;
                        width: 1em;
                        height: 1em;
                        content: '';
                        display: inline-block;
                        vertical-align: text-top;
                        margin-top: 0.15em;
                    }

                    > .limit::before {
                        background: $icon-warn no-repeat 0 0 / 1em;
                        width: 1em;
                        height: 1em;
                        content: '';
                        display: inline-block;
                        vertical-align: text-top;
                        margin-top: 0.15em;
                    }

                    > .instructor {
                        font-size: 18px;
                    }

                    > .instructorBtn, > .instructorBtnNoInfo {
                        font-size: 18px;
                        padding: 2px 5px;
                        margin: 0 5px 0 0;
                        display: inline-block;
                    }

                    > .instructorBtn {
                        background: $button-dark-bg-color;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background: $button-dark-green-bg-color;
                        }
                    }
                }
            }
        }

        @media only screen and ($small-screen) {
            > thead {
                > tr:last-child {
                    display: block;
                    overflow-x: auto;
                    //width: calc(100vw - 20px);
                    //width: -moz-calc(100vw - 20px);
                    //width: -webkit-calc(100vw - 20px);
                    @include calc(width, "100vw - 20px");

                    > th {
                        &:not(.expandDownArrow) {
                            background: $button-dark-green-bg-color;
                            width: auto;
                            padding-left: 2px;
                            padding-right: 2px;
                            margin-bottom: 2px;
                            margin-right: 2px;
                            border-radius: 5px;
                            display: inline-block;
                            border: none;
                        }

                        &.expandDownArrow {
                            display: none;
                        }

                        &.options {
                            display: none;
                        }

                        &:hover {
                            background: none;
                        }
                    }
                }
            }

            > tbody {
                display: block;

                > tr.courseInfoBlock {
                    > td.expandDownArrow {
                        display: block;
                        float: left;
                    }

                    > td:not(.expandDownArrow) {
                        min-width: 48%;
                        border-radius: 10px;
                        white-space: pre-wrap;
                        display: block;
                        float: left;

                        &:not(.options) {
                            background: $button-dark-bg-color;
                            line-height: 1.6em;
                            min-height: 1.6em;
                            margin: 2px 1%;
                            padding: 0 2px 0 3px;
                            text-align: left;
                            @include box-sizing(border-box);
                        }

                        > .label {
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 2px;
                        }

                        &.departmentName {
                            clear: both;
                        }

                        &.nckuhub {
                            text-align: center;
                            padding: 0;
                            width: 98%;

                            > div {
                                width: 33%;

                                > span:last-child {
                                    width: 3em;
                                    max-width: 100%;
                                    display: inline-block;
                                }

                                > .label {
                                    margin-right: 2px;
                                    display: inline-block;
                                }
                            }
                        }

                        &.serialNumber, &.courseName {
                            display: none;
                        }

                        &.courseTime {
                            > button {
                                margin: 0 5px 0 0;
                                height: 100%;
                                vertical-align: top;
                                @include box-sizing(border-box);
                            }
                        }

                        &.options {
                            width: 100%;
                            margin: 5px 0;
                            padding: 0 5px;
                            @include box-sizing(border-box);
                            border-left: none;
                            clear: both;

                            > button {
                                margin: 5px 5px 0 5px;
                                padding: 10px;
                                display: inline-block;
                            }
                        }
                    }
                }

                > tr.courseDetailBlock {
                    > td {
                        border-radius: 0 0 10px 10px;

                        .info {
                            padding: 0 5px 5px 5px;

                            > .instructorBtn {
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Course detail window
    .nckuhubDetailWindow {
        > .courseInfoPanel {
            > span {
                font-size: 25px;
                margin-right: 10px;
            }
        }

        > .nckuhubPanel {

            > .title {
                margin-top: 10px;
                display: block;
            }

            > .rates {
                width: 100%;
                padding: 10px 0;
                display: table;
                table-layout: fixed;
                text-align: center;

                > div {
                    display: table-cell;
                }

                > div > .rateBox {
                    background: $search-result-course-block-bg-color;
                    max-width: 7em;
                    margin: auto;
                    border-radius: 10px;

                    > span {
                        display: block;
                    }
                }
            }

            > .comments {
                > .commentBlock {
                    background: $search-result-course-block-bg-color;
                    margin: 10px 5px;
                    border-radius: 10px;
                    padding: 10px;

                    > span {
                        background-color: white;
                        color: #f35a5a;
                        padding: 2px 10px;
                        border-radius: 2em;
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    > .instructorInfoOffset {
        position: absolute;
        right: 0;
        margin: auto;
        opacity: 0;
        visibility: hidden;
        @include transition((visibility var($instructor-info-fade-time), opacity var($instructor-info-fade-time) ease-in));

        &.show {
            opacity: 1;
            visibility: visible;
        }

        > .instructorInfo {
            background: rgba(0, 0, 0, 0.8);
            max-width: 500px;
            padding: 5px;
            border-radius: 10px;
            @include box-sizing(border-box);
            white-space: pre-wrap;
            word-break: break-word;
            bottom: 0;
            position: absolute;
        }

        @media only screen and ($small-screen) {
            display: none;
        }
    }

    .instructorInfo {
        > .rate {
            overflow: auto;

            > table {
                width: 100%;
            }

            > table > tr > td {
                text-align: center;
            }

            > table > tr > td::after {
                content: '★';
            }

            .blue {
                color: #33A2F4;
            }

            .yellow {
                color: #FFC71E;
            }

            .red {
                color: #FF311E;
            }
        }

        > .info > table {
            text-align: left;
            border-spacing: 0;

            > tr > th:first-child {
                padding: 0 10px 0 0;
            }
        }
    }

    // Instructor detail window
    .instructorDetailWindow {
        > .title {
            display: inline-block;

            > span {
                margin-right: 0.5em;
            }
        }

        > .tags > span {
            background: $button-bg-color;
            padding: 5px;
            margin-right: 5px;
            margin-top: 5px;
            display: inline-block;
        }

        > .reviewerCount {
        }

        > .reviewerCount > span:first-child {
            font-weight: bold;
            margin-right: 0.5em;
        }

        > .comments {
        }

        > .comments > .item {
            background: $search-result-course-block-bg-color;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 10px;
            padding: 10px;
            overflow: hidden;
        }

        > .comments > .item > .profile {
            height: 2.5em;
            display: block;
            float: left;
            border-radius: 2.5em;
        }

        > .comments > .item > .body {
            padding-left: 3em;
        }

        > .comments > .item > .body > span {
            display: block;
            white-space: pre-wrap;
        }

        > .comments > .item > .body > span {
            display: block;
        }
    }
}