@import '../variables';

$object-layer1-dark: #D9D9D91E;
$object-layer2-dark: #828282;

.home {
    > .siteInfo {
        //height: 100vh;
        //position: sticky;
        //top: 0;
        //overflow: auto;
        //padding-bottom: 200px;
        @include box-sizing-border;

        > .main {
            min-height: 100vh;
            margin-top: -$navbar-height;
            padding: 250px 0 0 10%;
            box-sizing: border-box;

            > .title {
                margin: 0;

                > .rippleable {
                    display: inline-block;
                    margin-right: 40px;

                    > img {
                        height: 90px;
                        vertical-align: bottom;
                    }
                }

                > span {
                    font-size: 60px;
                    line-height: 1em;
                }

                > .slideOut {
                    width: 0;
                    display: inline-block;
                    overflow: hidden;
                    position: relative;
                    @include transition(width 400ms ease-out);

                    &.open {
                        width: 4em;
                    }

                    &::before{
                        content: '';
                        height: 100%;
                        width: 0.1em;
                        background: linear-gradient(to right, $background-color, #{$background-color}00);
                        display: block;
                        position: absolute;
                        left: 0;
                    }

                    > img {
                        height: 100%;
                        float: right;
                        padding-left: 0.4em;
                    }
                }
            }

            > .description {
                font-size: 32px;
                margin-bottom: 55px;

                > span {
                    display: block;
                    margin-top: 24px;
                }
            }

            > .quickSearch {
                background: #303338;
                display: inline-block;
                height: 100px;
                border-radius: 5px;
                position: relative;
                padding-right: 230px;

                > .searchInput {
                    background: none;
                    width: 100%;
                    height: 100%;
                    font-size: 32px;
                    padding: 25px 0 25px 50px;
                    border-radius: 0;
                    box-shadow: none;
                    letter-spacing: 3.2px;
                }

                // Search button
                > button {
                    background: $primary;
                    height: 100%;
                    width: 230px;
                    font-size: 32px;
                    border-radius: 5px;
                    display: block;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 700;

                    > img {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    > span {
                        margin-left: 10px;
                    }
                }
            }
        }

        > .toCourseSearchLink {
            font-size: 30px;
            white-space: nowrap;
            display: block;
            text-align: center;

            &::before {
                color: greenyellow;
                content: '>';
                margin: 0 5px 0 0;
            }

            &::after {
                color: greenyellow;
                content: '<';
                margin: 0 0 0 5px;
            }

            > span {
                margin: 0;
                animation: LinkAnimation forwards infinite 1000ms;
            }

            @keyframes LinkAnimation {
                50% {
                    margin: 0 10px;
                }
            }
        }

        > .introduction {
            max-width: 100%;
            padding: 5px;
            display: inline-block;
            overflow: auto;
            white-space: nowrap;
            vertical-align: top;
            @include hide-scroll-bar;
            @include box-sizing-border;

            > .block {
                background: $pure-gray-900;
                width: 450px;
                //max-width: 100%;
                border-radius: 20px;
                overflow: hidden;
                padding: 10px;
                margin: 5px;
                display: inline-block;
                vertical-align: top;
                @include box-sizing-border;

                @media only screen and ($small-screen) {
                    width: 400px;
                }

                > img {
                    float: left;
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    margin-right: 5px;
                    border: white 2px solid;
                }

                > .title {
                    font-size: 30px;
                    margin: 10px 0;
                    white-space: pre-wrap;
                }

                > p {
                    font-size: 18px;
                }

                > p.small {
                    color: $pure-gray-600;
                    font-size: 14px;
                }
            }
        }

        @media only screen and ($small-screen) {
            > .main {
                padding: 10vh 0 0 15px;

                > .title > .rippleable {
                    display: block;
                    margin-bottom: 10px;
                }

                > .title > img, > .title > .slideOut {
                    height: 40px;
                }

                > .quickSearch {
                    height: 80px;
                    padding-right: 80px;
                    margin-right: 15px;

                    > button {
                        width: 80px;
                        > span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    > .scrollDownIndicator {
        background: linear-gradient(#00000000, $background-color);
        width: 100%;
        height: 100px;
        position: absolute;
        padding: 0 15%;
        bottom: 0;
        cursor: pointer;
        @include box-sizing-border;
        display: none;

        > .scrollDownArrow {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 20px;
            animation: ScrollDownArrowAnimation forwards infinite 2000ms;
            @include transition(opacity 200ms);
        }

        @keyframes ScrollDownArrowAnimation {
            50% {
                bottom: 10px;
            }
        }

        > .title {
            line-height: 45px;
            font-size: 35px;
            position: absolute;
            left: 15%;
            right: 15%;
            bottom: 0;
            margin: 0 auto;
            text-align: center;
            white-space: nowrap;
            @include transition(right 500ms);
        }

        @media only screen and ($small-screen) {
            padding: 5px 5px 0 5px;

            > .title {
                left: 5px;
                right: 5px;
            }
        }

        &.toLeft {
            > .scrollDownArrow {
                opacity: 0;
            }

            > .title {
                right: 100%;
            }
        }
    }

    > .panels {
        background: $background-color;
        //margin-top: -$navbar-height;
        padding: 0 15% 15%;
        position: relative;

        @media only screen and ($small-screen) {
            padding: 0 5px 0 5px;
        }

        .title {
            margin: 0;
            line-height: 45px;
            font-size: 35px;
        }

        .splitLine {
            border-bottom: white 2px solid;
            margin-bottom: 10px;
        }

        > .newsPanel {
            margin-bottom: 20px;

            > .items > .news {
                background: $object-layer1-dark;
                @include default-shadow;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                overflow: hidden;

                > .department {
                    background: $object-layer2-dark;
                    padding: 5px;
                    border-radius: 10px;
                    margin-bottom: 5px;
                    display: inline-block;
                }

                > .content > span {
                    display: block;
                    margin-bottom: 5px;
                }

                > .content > a {
                    text-decoration: underline;

                    &::after {
                        content: '';
                        background: $icon-new-tab no-repeat 0 0 / 1em;
                        width: 1em;
                        height: 1em;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }

                > .date {
                    float: right;
                    color: gray;
                }
            }
        }

        > .bulletinPanel {
            > .items > .bulletin {
                background: $object-layer1-dark;
                padding: 5px;
                border-radius: 10px;
                margin-bottom: 5px;
                display: block;
                text-decoration: underline;
                @include default-shadow;

                &::after {
                    content: '';
                    background: $icon-new-tab no-repeat 0 0 / 1em;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }
    }
}

.rippleable {
    position: relative;
    overflow: hidden;

    > .ripple {
        background-color: #{$background-color}60;
        border-radius: 50%;
        position: absolute;
        animation: ripple 600ms linear;
        @include transform(scale(0));
    }
}

@keyframes ripple {
    30% {
        opacity: 1;
    }
    100% {
        @include transform(scale(1));
        opacity: 0;
    }
}