@import '../variables';

.preferenceAdjust {
    > .tabsBtn {
        text-align: center;

        > button {
            display: inline-block;
        }
    }

    > .tabs > .adjustList {
        text-align: center;
        position: relative;
        display: none;

        &.show {
            display: block;
        }

        > .title {
            margin: 0;
            padding-top: 10px;
        }

        // List items
        .item {
            background: #252b33;
            padding: 5px;
            border-radius: 10px;
            text-align: left;
            box-sizing: border-box;
        }

        // List item holder
        > .body {
            display: inline-block;
            position: relative;
            touch-action: none;
            -ms-touch-action: none;
            vertical-align: top;

            // When adjusting items
            &.adjusting > .itemHolder {
                > .item {
                    position: absolute;
                    @include transition(top 100ms);
                }
            }

            > .itemHolder {
                width: 100%;
                margin-bottom: 5px;

                > .item {
                    width: 100%;
                    @include cursor-grab;

                    &.grabbing {
                        opacity: 0.3
                    }
                }
            }
        }

        // Item grab by mouse
        > .adjustItemHolder {
            position: relative;

            > .item {
                z-index: 1;
                @include cursor-grabbing;
                position: absolute;
                box-shadow: 1px 1px 3px 1px $background-color;

                &.moveBack {
                    @include transition((top 100ms, left 100ms));
                }
            }
        }
    }

    > .saveOrderBtn {
        visibility: hidden;

        &.show {
            visibility: visible;
        }
    }
}