@import '../variables';

$block-bg-color: #262b32;
$block-hover-bg-color: #222830;
$label-height: 50px;

#infoText {
    display: block;
    padding: 2px;

    // Label
    > span {
        background: #32353a;
        display: inline-block;
        padding: 1px 2px;
        border-radius: 5px;
        margin-right: 5px;
    }
}

#distImage {
    > .distImage {
        //top: 0;
        //bottom: 0;
        //left: 0;
        //right: 0;
        //position: absolute;

        &.noLabel {
            > .bars {
                bottom: 0;
            }
        }

        > .bars {
            width: 100%;
            top: 0;
            bottom: $label-height;
            position: absolute;

            > div {
                background: #3376BD;
                $barBorderColor: #3390FF;
                border-top: 2px solid $barBorderColor;
                border-right: 2px solid $barBorderColor;
                border-left: 2px solid $barBorderColor;
                float: left;
                position: absolute;
                bottom: 0;
                font-size: 20px;
                @include box-sizing-border;

                > .count {
                    margin-top: -2em;
                    display: block;
                }
            }
        }

        > .labels {
            height: $label-height;
            width: 100%;
            bottom: 0;
            position: absolute;

            // Line
            > div {
                height: 10px;
                margin-left: -1px;
                border-right: 1px solid white;
                border-left: 1px solid white;
                position: absolute;
            }

            // Label
            > span {
                top: 10px;
                position: absolute;
                display: block;
            }

            > span.center {
                @include transform(translateX(-50%));
            }
        }

        > .nodata {
            color: #ff6f6a;
            font-size: 1.5rem;
            display: block;
            margin-top: 50px;
        }
    }
}

.stuIdSysGrades {
    padding: 0 5px;
    @include box-sizing-border;

    > .myContribute {
        .total {
            margin-left: 5px;
        }

        > button {
            background: $primary;
            border-radius: 5px;
            margin: 10px;

            &:disabled {
                overflow: hidden;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: #00000050;
                }
            }
        }
    }

    > .myGrades {
        > .semesterInfos {
            overflow: hidden;
            display: table;
            height: 100%;

            > .tableCell {
                height: 100%;
                display: table-cell;
                padding: 10px;

                > .semesterInfo {
                    background: $block-bg-color;
                    height: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    @include box-sizing-border;

                    &:hover {
                        background: $block-hover-bg-color;
                    }

                    // Title
                    > h1 {
                        font-size: 24px;
                        margin: 5px;
                        text-align: center;
                    }

                    // Info
                    > span {
                        @extend #infoText;
                    }
                }
            }

            @media only screen and ($small-screen) {
                display: block;

                > .tableCell {
                    display: block;
                }
            }
        }

        > .semesterGrades {
            padding: 5px;
            text-align: center;
            border-top: white 1px solid;
            clear: both;

            > div {
                background: $block-bg-color;
                min-width: 300px;
                cursor: pointer;
                display: inline-block;
                padding: 10px;
                border-radius: 10px;
                margin: 5px;

                // Course name
                > h1, > .deptWithSerial {
                    font-size: 24px;
                    display: inline-block;
                    margin: 0 5px;
                    text-align: center;
                }

                > .systemNumber {
                    display: block;
                }

                > .normalDist {
                    width: 100%;
                    height: 150px;
                    margin: 10px 0;
                    position: relative;

                    span {
                        font-size: 0.8rem;
                    }

                    @extend #distImage;
                }

                > .info {
                    @extend #infoText;
                    display: inline-block;
                }

                @media only screen and ($small-screen) {
                    max-width: 80vw;
                    min-width: auto;
                }
            }
        }

        > .loading {
            text-align: center;
            padding: 50px;

            > .loaderCircle {
                display: inline-block;
            }
        }
    }

    > .allDistribution {
        > .normalDistImages {
            > .courseInfo {
                width: 300px;
                margin: 10px;
                display: inline-block;

                > span {
                    display: block;
                    text-align: center;
                }

                > .distImage {
                    width: 100%;
                    height: 300px;
                    position: relative;
                }

                @extend #distImage;
            }
        }
    }
}

.popupWindowBody {
    > .contributeSemester {
        padding: 5px;

        > h2 {
            margin: 5px 0;
        }

        > .contributeSemesterSelect {
            font-size: 1.25rem;
            width: 20em;
            max-width: 100%;
            display: block;
        }

        > p {
            color: #CCC;
            font-size: 1.125rem;
            margin-bottom: 5px;

            > img {
                width: 1em;
                height: 1em;
                vertical-align: middle;
            }

            > span {
                vertical-align: middle;
            }
        }
    }

    > .normalDist {
        text-align: center;
        width: 100%;
        height: 100%;

        > h1 {
            font-size: 30px;
            margin: 0;
        }

        @extend #distImage;

        > .distImage {
            top: 50px;
        }

        @media only screen and ($small-screen) {
            > .distImage {
                height: 100vw;
            }
        }
    }
}
