@import '../variables';

#infoText {
    display: block;
    padding: 2px 0;

    // Label
    > span {
        background: #2e3242;
        display: inline-block;
        padding: 1px 2px;
        border-radius: 5px;
    }
}

.stuIdSysGrades {
    > .semesters, .semesterInfo {
        float: left;
    }

    .semesterInfo {
        background: $object-layer1-dark;
        cursor: pointer;
        display: block;
        padding: 10px;
        @include box-sizing-border;
        border-radius: 10px;
        margin: 5px 0 0 5px;

        &:hover {
            background: #161a25;
        }

        // Title
        > h1 {
            font-size: 24px;
            margin: 5px;
            text-align: center;
        }

        // Info
        > span {
            @extend #infoText;
        }
    }

    > .semesterGrades {
        padding: 5px;
        text-align: center;
        border-top: white 1px solid;
        clear: both;

        > div {
            background: $object-layer1-dark;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;

            // Course name
            > h1 {
                font-size: 24px;
                margin: 5px;
                text-align: center;
            }

            // Info
            > span {
                @extend #infoText;
            }
        }
    }

    > .loading {
        background: $overlay-transparent-bg-color;
        position: fixed;
        top: $navbar-height;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        > .loaderCircle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.popupWindow .normalDestImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    > h1 {
        font-size: 30px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    > img {
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and ($small-screen) {
        > .graphVerticalCenter {
            height: 100%;
            height: fit-content;

            > .graph {
                width: 100%;

                > h1 {
                    font-size: 20px;
                }

                > img {
                    width: 100%;
                }
            }
        }
    }
}
